:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.87);
  background-color: #121212; 
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}